body {
    margin: 0;  
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #172b13
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

/* Header */

.navbar,.hero,.info {
    padding: 20px 100px 20px 100px;
}

.navbar {
    background-color: #6e9766;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    padding: 20px 100px 20px 100px;
    
}

.header-logo {
    margin-right: auto;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: auto;
    list-style: none;
    display: flex;
    gap: 16px;
}

/*Hero part*/

.hero {
    background-color: #6e9766;
    color: white;
    display: flex;
    justify-content: center;
    padding: 90px;

}

.left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
}

.right {
    display: flex;
    background-color: gray;
    flex: 1;
    justify-content: center;
    align-items: center;
}

button {
    flex-grow: 0;
    background-color: #1c5710;
    border-radius: 8px;
    padding: 4px 20px;
    color: white;
    font-weight: bold;
    border-style: none;
    
}

.info {
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #5d7a57;
    
}


.content {
    font-size: 36px;
    font-weight: bolder;
    color: beige;
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
    background-color: #5d7a57;
}

.content img {
    width: 200px;
    height: 200px;
}

.content p {
    flex-wrap: wrap;
    font-size: small;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #6e9766;
    padding: 30px 150px;
    border-radius: 18px;
    font-size: larger;
    font-weight: bold;
    color: beige;
    margin: 20px 100px;
    
}

.quote>p {
    text-align: right;

}

.quote>div{
    text-align: left;
}

.signup {
    padding: 15px 150px;
    display: flex;
    background-color: #6e9766;
}

.signup-left {
    flex: 1;
    color: beige;
    font-size: large;

}
 .signup-right{

 }
 
.footer {
    margin-bottom: 0px;
    text-align: center;
    padding-top: 20px;
    color: aliceblue;
  }